<div> Celsius... </div>
<a href="home">main</a>
<form action="celsius" method="post">
  <input type="text" name="celsius" placeholder="Escriba los grados celsius"> 
  <input type="submit" value="Enviar">
</form>
<div> <%= "usted digito  #{@celsius}"  %> 
